.wrapper {
  padding: 20px;
  transition: 0.3s ease;
}

.wrapper-show {
  background-color: red;
}

.wrapper-hide {
  background-color: gray;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-show {
  background-color: green;
}

.btn-hide {
  background-color: red;
}


.card {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
